@use '../utilities/variables';

body,
.classic {

  .game-board__container {
    background-color: #00011f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23fad000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
  }

  .stats__content-container {
    background-color: getColor('classic-primary-color');
    color: getColor('classic-secondary-color');
    box-shadow: rgba(255, 251, 0, 0.25) 0px 54px 55px, rgba(242, 255, 0, 0.275) 0px -12px 30px, rgba(255, 255, 0, 0.292) 0px 4px 6px, rgba(255, 247, 0, 0.308) 0px 12px 13px, rgba(242, 255, 0, 0.309) 0px -3px 5px;
    border-radius: 1px;
  }

  .stats__modal-close {
    color: getColor('classic-secondary-color');

    &:hover,
    &:focus {
      color: getColor('classic-tertiary-color');
    }
  }

  .btn__clear-stats-memory {
    background-color: getColor('classic-secondary-color');
    color: getColor('classic-primary-color');

    &:hover,
    &:focus {
      background-color: getColor('classic-tertiary-color');
    }
  }

  .header__section {
    background-color: getColor('classic-primary-color');
  }

  .timer__wrapper,
  .score__wrapper {
    color: getColor('classic-secondary-color');
    font-family: getFontFamily('classic-primary-font');
    box-shadow: rgb(46, 49, 52) 3px 3px 6px 0px inset, rgba(4, 4, 4, 0.5) -3px -3px 6px 1px inset;
  }

  .card-gallery__wrapper {
    background-image: linear-gradient(rgb(0, 102, 0), rgb(0, 51, 0));
    padding: 20px;
    box-shadow: rgba(0, 102, 0, 0.07) 0px 1px 2px, rgba(0, 102, 0, 0.07) 0px 2px 4px, rgba(0, 102, 0, 0.07) 0px 4px 8px, rgba(0, 102, 0, 0.07) 0px 8px 16px, rgba(0, 102, 0, 0.07) 0px 16px 32px, rgba(0, 102, 0, 0.07) 0px 32px 64px;
  }

  .pokemon-logo {
    display: none;
  }

  .card__front-classic {
    background-color: #f2f2f8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f40000' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    border: 3px solid white;
    border-radius: 0.25em;
  }

  .card__matched {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(0, 102, 0) 0px -3px 0px inset;
  }

  .footer__section {
    background-color: getColor('classic-primary-color');
  }

  .game-controls__button,
  .hint__button {
    color: getColor('classic-secondary-color');
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:hover,
    &:focus {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }

    .tooltiptext {
      color: rgb(252, 234, 146);
      background-color: #000;
      border: 1px solid rgb(252, 234, 146);

      &:after {
        border-bottom: 20px solid #000;
      }
    }
  }

  .game-menu__btn {
    color: getColor('classic-secondary-color');
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:hover,
    &:focus {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }

    .tooltiptext {
      color: #fcea92;
      background-color: #000;
      border: 1px solid #fcea92;

      &:after {
        border-top: 20px solid #000;
      }
    }
  }

  .game-menu-toggle__icon {
    fill: getColor('classic-secondary-color');
  }

  .page-title__text {
    color: getColor('classic-secondary-color');
  }

  .footer__contacts-item {
    color: getColor('classic-secondary-color');
  }

  .social-icon {
    color: getColor('classic-secondary-color');
  }

  .menu-toggle__open {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    &:hover,
    &:focus {
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }
  }

  .menu-toggle__icon-open {
    fill: getColor('classic-secondary-color');
  }

  .menu-container {
    background-color: getColor('classic-primary-color');
  }

  .mobile-menu-content__container {
    background-color: getColor('classic-secondary-color');
    box-shadow: rgb(205, 210, 104) 0px 20px 30px -10px;
  }

  .menu-toggle {
    background-color: getColor('classic-secondary-color');
    color: getColor('white-color');
  }

  .mobile-menu-contacts__link {
    color: getColor('white-color');
  }

  .mobile-social-icon {
    color: getColor('white-color');
  }
}