$transition-time: 2000ms;
$transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
$uppercase: text-transform uppercase;

$colors: (
  'classic-primary-color': rgb(250, 208, 0),
  'classic-secondary-color': rgb(0, 0, 0),
  'classic-tertiary-color': rgb(80, 154, 11),
  'marvel-primary-color': rgb(255, 0, 0),
  'marvel-secondary-color': rgb(255, 255, 0),
  'marvel-tertiary-color': rgb(0, 0, 0),
  'pokemon-primary-color': rgb(56, 76, 191),
  'pokemon-secondary-color': rgb(220, 196, 14),
  'pokemon-tertiary-color': rgb(0, 0, 0),
  'pokemon-quaternary-color': rgb(255, 0, 0),
  'primary-accent-color-opaque': rgba(189, 205, 214, 0.6),
  'ternary-color': rgb(238, 233, 218),
  'secondary-btn-color': rgba(124, 171, 197, 0.6),
  'secondary-text-color': rgb(190, 190, 190),
  'accent-text-color': rgba(255, 255, 255, 0.746),
  'primary-text-color': rgb(0, 0, 0),
  'tertiary-text-color': rgb(117, 117, 117),
  'white-color': rgb(255, 255, 255),
);

$font-family: (
  'primary-font': 'Sedgwick Ave Display',
  'classic-primary-font': 'Playfair display',

);

$font-sizes: (
  'small-font': 12px,
  'medium-font': 14px,
  'large-font': 16px,
  'x-large-font': 18px,
  'xx-large-font': 20px,
  'xxx-large-font': 22px,
  'xxxx-large-font': 32px,
  'xxxxx-large-font': 42px,
  'xxxxxx-large-font': 52px,
  'xxxxxxx-large-font': 62px,
);

$font-weights: (
  'thin-font': 100,
  'light-font': 300,
  'regular-font': 400,
  'medium-font': 600,
  'bold-font': 700,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

@function getFontFamily($key) {
  @return map-get($font-family, $key);
}

@function getFontSize($key) {
  @return map-get($font-sizes, $key);
}

@function getFontWeight($key) {
  @return map-get($font-weights, $key);
}