<footer class="footer__section">
  <div class="footer__container">
    <div class="game-menu__toggle-container">
      <button class="game-menu__btn js-open-game-menu" aria-expanded="false" aria-controls="game-menu">
        <svg class="game-menu-toggle__icon">
          <use href="./images/sprite.svg#icon-params">
            <span class="tooltiptext">Game Menu</span>
          </use>
        </svg>
      </button>
    </div>
    <div class="footer-title__container">
      <h1 class="page-title__text">
        Gonzo Memory Game
      </h1>
    </div>
    <div class="footer__contacts-container">
      <ul class="footer__contacts-list">
        <li class="footer__contacts-item">
          <a href="mailto:jose.gonzales08@ymail.com" class="footer__contacts-link"
            aria-label="email developer Jose gonzales08">
            <svg class="footer__contacts-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-mail"></use>
            </svg>
            jose.gonzales08@ymail.com
          </a>
        </li>
        <li class="footer__contacts-item">
          <a href="tel:+16613338523" class="footer__contacts-link" aria-label="call developer">
            <svg class="footer__contacts-icon" width="24" height="24">
              <use href="./images/sprite.svg#icon-phone"></use>
            </svg>
            +16613338523
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__social-container">
      <ul class="footer__social-list">
        <li class="footer__social-list-item">
          <a href="https://github.com/gogonzogo" target="_blank" class="footer__social-list-item-link"
            aria-label="github for developer Josse Gonzales">
            <svg class="social-icon">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-list-item">
          <a href="https://www.linkedin.com/in/jose-gonzales/" target="_blank" class="footer__social-list-item-link"
            aria-label="linkedin for developer Jose Gonzales">
            <svg class="social-icon">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="mobile-menu__container">
      <button class="menu-toggle__open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg class="menu-toggle__icon-open" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>
</footer>