@use '../utilities/variables';

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all $transition-time $transition-time-function,
    height $transition-time $transition-time-function;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 2000;
  transform: translateX(100%);
  transition: variables.$transition-time variables.$transition-time-function;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  top: 15px;
  left: 15px;
  position: absolute;
  border-radius: 5px;
}

.mobile-menu-content__container {
  background-color: getColor('classic-primary-color');
  border-radius: 15px;
  padding: 20px;
  height: fit-content;
  margin: auto 0;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.mobile-menu-contacts__container {
  margin-bottom: 20px;
}

.mobile-contacts__list {
  margin-top: 8px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-contacts__link {
  position: relative;
  font-family: getFontFamily('classic-primary-font');
  font-size: 14px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mobile-menu-contacts__icon {
  fill: currentColor;
}

.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-list__link {
  color: getColor('classic-primary-color');

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mobile-social-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color variables.$transition-time variables.$transition-time-function;
}


@media screen and (min-width: 480px) {
  .mobile-menu-contacts__link {
    font-size: getFontSize('xx-large-font');
  }

  .mobile-social-icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    display: none;
  }
}